<div class="knockoutmatches">
{%- for key, phase in phases -%}
    {%- if loop.index == 4 -%}
        </div><div class="knockoutmatches">
    {%- endif -%}

    {%- include 'overview/knockout/phase.html.twig' with {key: key, phase: phase} only -%}
{%- endfor -%}
</div>
