{%- for group in groups -%}
    {%- if loop.index == 1 -%}
        <div class="groupmatches">
    {%- endif -%}
    {%- if loop.index == 5 -%}
        </div><div class="groupmatches">
    {%- endif -%}

    {%- include 'overview/groups/group.html.twig' with {group: group} only -%}
{%- endfor -%}
</div>
