<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ 'Play FIFA Worldcup 2018'|trans }}</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.9.0/css/flag-icon.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        {% block styles %}
        {% endblock %}
    </head>
    <body>
        <main class="container-fluid">
            {% block body %}{% endblock %}
        </main>
        <script src="{{ asset('build/js/app.js') }}"></script>
        <script>
            moment.locale('{{ app.request.getLocale() }}');
        </script>
        {% block scripts %}{% endblock %}
    </body>
</html>
